
.accordion-item {
  margin: 10px 0 ;
}

.accordion-body-dark {
  color: #fff;
  background-color: #2e345a;
}

.accordion-header-dark {
  background-color: #7d8ef7;
  color: #f2eded;
}

.container {
  max-width: 100% !important;
}