
.accordion-item {
  margin: 10px 0 ;
}

.accordion-body-dark {
  color: #fff;
  background-color: #1e2023;
}

.accordion-header-dark > button {
  background-color: #2b2f34;
  color: #f2eded;
}

.container {
  max-width: 100% !important;
}