.BsBootstrap {
  font-size: 36px;
  cursor: pointer;
}

.BiSearch {
  right: 20px;
}

.adjust-search-field {
  width: 320px;
}

.logo-animation-rubber {
  animation-name: rubberBand;
  animation-duration: 1s;
}

.logo-animation-bounce {
  animation-name: bounce;
  animation-duration: 0.7s;
}



